<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Myself I guess</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    </head>
    <body>
        <img src="{{ url_for('static', filename='OrderSolXrd.png') }}" alt="Protaganist" width="250" height="417"/>
        <h1>Giovanni "Iamhim" Lawrence</h1>
        <p>
            Love to play videogames, make money, praise and give God thanks.<br>
            Fav genres for games rn are 2DFighters, racing and RPGs, and currently <br>
            into watching old crime thrillers like Goodfellas and anime like Initial D. <br> 
            Just trying to get this degree and move on lowkey. <br>
        </p>
    </body>
</html> 